header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 1;
}

header .title {
  position: relative;
  font-weight: 700;
  color: #00E5EE;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.title span {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.title span:hover {
  color: #00E5EE;
  text-shadow: 1px 1px 60px #00E5EE;
  transition: 0.1s;
}

.i-am {
  margin-left: -10px;
}

.santiago-benavidez {
  text-align: left;
  margin-top: -465px;
  cursor: default;
  transition: 0.15s;
}


header ul {
  margin-right: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: right;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.1s;
}

header ul a:hover {
  position: relative;
  color: #00E5EE;
  text-shadow: 0px -3px 10px #00E5EE;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.1s;
}

.items {
  font-size: 26px;
  display: ruby;
}

/*header.sticky ul li a,*/
header.sticky .title {
  color: #00E5EE;
}

header.sticky ul li a:hover {
  color: #00E5EE;
}

header ul a i {
  margin-top: 10px;
}

.active {
  color: #00E5EE;
}

header ul {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.items {
  transform: translate(25px, 150px);
  margin-bottom: 75px;
}


@media (max-width: 1230px) {
  header {
    z-index: 2;
  }
}